<h2>Edit Entry</h2>
<div class="form" style="float:left">
  <%= form_tag('update', method: "post", html: {class: "contactFrn"}) do %>
    <input type="text" required="" value="<%= @item['name'] %>" name="name" class="txt">
    <!--<input type="text" required="" value="" name="mob" class="txt"> &lt;!&ndash; there's no phone number in db?? &ndash;&gt;-->
    <input type="text" required="" value="<%= @item['email'] %>" name="email" class="txt">
    <input type="text" value="<%= @item['message'] %>" name="mess" type="text" class="txt_3"></input>
    <input type="submit" value="submit" name="submit" class="txt2">
  <% end %>
</div>